@import url('./bass.css');

.banner{
    width: 325px;
    height: 234px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: var(--secundary-grey);
    color: var(--color-white);
    text-align: center;
}

.banner h2{
    font-size: 22px;
    font-weight: 800;
    font-style: normal;
    line-height: 27px;
    text-align: center;
}


.banner h3{
    font-size: 22px;
    font-weight: 200;
}

.banner .btn--arrow{
    display: none;
}

@media screen and (min-width:980px) {
    .banner{
        background: none;
        width: 100%;
    }
    .banner h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
    }

    .banner h3{
        display: none;
    }

    .banner .btn--big{
        display: none;
    }

    .banner .btn--arrow{
        display: initial;
    }

}
