@import url('./bass.css');

.banner{
    width: 325px;
    height: 234px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: var(--secundary-grey);
    color: var(--color-white);
   
    text-align: center;
}

.banner h1{
    font-size: 22px;
    font-weight: 800;
    font-style: normal;
    line-height: 27px;
    text-align: center;
}


.banner h2{
    font-size: 22px;
    font-weight: 200;
}
