@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    /* Colors*/
    --primary-blue:#2BB7E2;
    --secundary-grey:#33313C;
    --color-black:#000001;
    --color-white:#FFFFFF;
    --color-grey:#6B6C6E;

}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    height: 100%;
    background-color: var(--color-black);
    
}

html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}