@import url('../style/bass.css');

.card__container--slide{
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
    width: 100%;
    height: 600px;
    overflow-x: scroll ;
    overscroll-behavior-x: contain ;
    scroll-snap-type: x proximity;
    
}
.card__container--slide::-webkit-scrollbar{
    width: 0px;
}
.card__map{
    scroll-snap-align: center;
    width: 90%;
    min-width: 275px;
    height: auto;
}
.card{
    position: relative;
    min-width: 275px;
    max-width: 280px;
    min-height: 534px;
    background: var(--secundary-grey);
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    
}
.card--body{
    padding-block: 0.5rem;
    padding-inline: 1rem;
}
.card--body h3{
    margin-block-end: 0.5rem;
    color: var(--color-white);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.card--body p{
    margin-block-end: 1rem;
    margin-inline-start: 2rem;
    text-align: left;
    color: var(--color-white);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;

}

.card--footer{
    position:absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    align-items: flex-end;

}

@media screen and (min-width:1100px) {
    .card__container--slide{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        height: 600px;
        overflow-x: none ;
        overscroll-behavior-x: initial;
        scroll-snap-type:initial;
        
    }
}