@import url('./bass.css');

.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 57px;
    background: var(--secundary-grey);   
    
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.navbar__logo img{
    width: 140px;
    cursor: pointer;
}

.navbar__nav{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav button{
    height: auto;
    width: auto;
    background: none;
    border: none;
}

.navbar__nav button img{
width: 29px;
cursor: pointer;
}

.sep{
    height: 15px;
    border-inline-end: solid 1px white;
}

.navbar__nav > img{
    width: 38px;
    
    
}

.navbar__content{
    display: none;
}


@media screen and (min-width:1180px) {
    
    .navbar__nav{
        display: none;
    }

    .navbar__content{
        display: flex;
    }

    .nav__container{
        width: 95%;
    }

    .navbar__content ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .navbar__content .nav--item{
        margin-inline-end: 0.8rem;
        color: var(--color-white);
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }

    .navbar__content .nav--item:hover{
        border-block-end: 2px solid var(--primary-blue) ;
    }

    .navbar__content .nav--item-login{
        width: 120px;
        height: 40px;
        background: transparent;
        border: 1px solid var(--primary-blue);
        border-radius: 8px;
        color: var(--primary-blue);
        text-align: center;
        padding-block:0.5rem ;
        margin-inline-start: 0.8rem;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }

    .navbar__content .nav--item-login:hover{
        background: var(--primary-blue);
        color: var(--color-white);
    }

}

@media screen and (min-width:1570px) {
    .nav__container{
        width: 90%;
    }
}


@media screen and (min-width:1870px) {
    .nav__container{
        width: 87%;
    }
}